# dependencies
/node_modules

#misc
/.idea
/.idea/workspace.xml
/server/uploads

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
/coverage

# production
/build

server/errors/
server/models/
